@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background-attachment: fixed;
}

.text {
    display: none;
}

input[type=checkbox] {
    border: 2px solid #87A7BE;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    padding: 5px;
    -webkit-appearance: none;
}

input[type=checkbox]:checked {
    position: relative;
    border: 2px solid #87A7BE;
    border-radius: 5px;
    background-size: 1px 1px;
}

input[type=checkbox]:checked::before {
    content: '';
    position: absolute;
    top: 13%;
    right: 10%;
    background: #1A303F;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

input[type=checkbox]:focus {
    outline-color: transparent;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
    outline: none; 
    border-color: #ccc; 
}

@font-face {
    font-family: 'Open sans';
    src: url(../fonts/FoglihtenNo06_076.otf);
}

.slide.active {
    display: flex;
}

.menu.active {
    left: 0;
}

.slider {
    width: 90%;
    margin: 0 auto;
}

.elite-slides {
    width: 90%;
    margin: 0 auto;
}

.link.active {
    color: #87A7BE;
    text-decoration: underline;
}

.button:disabled {
    opacity: 0.53;
    pointer-events: none;
}

.slick-dots {
    top: 120%
}

.slick-prev {
    border-radius: 100%;
    background-color: #fff !important;
    padding: 30px;
    left: -6%;
    top: 53%;
}

.slick-next {
    border-radius: 100%;
    background-color: #fff !important;
    padding: 30px;
    right: -6%;
    top: 53%;
}

.slick-prev::before {
    content: '';
    background-image: url(../images/icons/Arrow\ 4\ \(1\).svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;
    right: 32%;
    top: 42%;
}

.slick-next::before {
    content: '';
    background-image: url(../images/icons/Arrow\ 4.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;
    right: 32%;
    top: 42%;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus  {
    background-color: #fff;
}

.slick-dots li button::before {
    width: 20px !important;
    height: 20px !important;
    font-size: 20px;
    color: #87A7BE !important;
    border-radius: 100%;
}

.slick-dots li.slick-active button::before {
    opacity: 1 !important;
    font-size: 20px;
    width: 20px !important;
    height: 20px !important;
    color: #87A7BE !important;
    border-radius: 100%;
}