@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body, html { 
    width: 100%;
    height: 100%;
}

body {
    background-attachment: fixed;
}