@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background-attachment: fixed;
}

.text {
    display: none;
}

input[type=radio] {
    border: 1px solid black;
    border-radius: 5px;
    padding: 12px;
    -webkit-appearance: none;
}

input[type=radio]:checked {
    background: gray;
    border: 1px solid gray;
    border-radius: 100%;
    background-size: 1px 1px;
}

input[type=radio]:focus {
    outline-color: transparent;
}

@font-face {
    font-family: 'Open sans';
    src: url(../fonts/FoglihtenNo06_076.otf);
}

.slide.active {
    display: flex;
}

